extends layout
block content
	form(action="/add_movie" method="POST")
		div.form-group
			label(for='title') Title: 
			input#title.form-control(type="text" name="title" value="")
			label(for='year') Year: 
			input#year.form-control(type="text" name="year" value="0")
			label(for='imdb') IMDB: 
			input#imdb.form-control(type="text" name="imdb" value="")
		button.btn.btn-primary(type='submit') Submit
	button(type='button' onclick='gotoDetail();') Click
	script
		include js/browserify/sovereign-bundle.js
		include js/main.js
